<% title(t(".page_title")) %>

<h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>

<%= t(".summary_html") %>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><%= t(".reference_number") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".created") %></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">

        <% @submissions.each do |s| %>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="./confirm?submission_id=<%= s.id %>"><%= s.reference_number %></a></th>
            <td class="govuk-table__cell"><%= s.created_at %></td>
        </tr>

        <% end %>

    </tbody>
</table>
