<% title(t(".page_title")) %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>

                <%= t(".body_html") %>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><%= t(".businesses") %></dt>
                        <dd class="govuk-summary-list__value">
                            <% @submission.businesses.each do |b| %>    
                                <strong><%= b.business_name %></strong>
                                <%= !b.business_address.blank?  ? raw("<br />") + b.business_address : nil %>
                                <%= !b.business_postcode.blank? ? raw("<br />") + b.business_postcode : nil %>
                                <%= !b.business_url.blank?      ? raw("<br />") + b.business_url : nil %>
                                <%= raw("<br />") %>
                            <% end %>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <%= link_to wizard_businesses_path, class: "govuk-link", title: "Change #{t(".businesses").downcase}" do %>
                                Change<span class="govuk-visually-hidden"> <%= t(".business").downcase %></span>
                            <% end %>
                        </dd>
                    </div>
                </dl>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><%= t(".what_happened") %></dt>
                        <dd class="govuk-summary-list__value">
                            <%= simple_format(@submission.what_happened) %>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <%= link_to wizard_what_happened_path, class: "govuk-link", title: "Change #{t(".what_happened").downcase}" do %>
                                Change<span class="govuk-visually-hidden"> <%= t(".what_happened").downcase %></span>
                            <% end %>
                        </dd>
                    </div>
                </dl>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><%= t(".evidence") %></dt>
                        <dd class="govuk-summary-list__value">
                            <% if !@submission.evidence_files.blank? %>
                                <% @submission.evidence_files.each do |ef| %>
                                    <%= ef.filename %><br />
                                <% end %>
                            <% else %>
                                <%= t(".no_evidence_files") %>
                            <% end %>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <%= link_to wizard_evidence_path, class: "govuk-link", title: "Change #{t(".evidence").downcase}" do %>
                                Change<span class="govuk-visually-hidden"> <%= t(".evidence").downcase %></span>
                            <% end %>
                        </dd>
                    </div>
                </dl>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><%= t(".include_contact") %></dt>
                        <dd class="govuk-summary-list__value">
                            <%= t("." + @submission.include_contact) %>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <%= link_to wizard_include_contact_path, class: "govuk-link", title: "Change #{t(".include_contact").downcase}" do %>
                                Change<span class="govuk-visually-hidden"> <%= t(".include_contact").downcase %></span>
                            <% end %>
                        </dd>
                    </div>
                </dl>


                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><%= t(".contact_name") %></dt>
                        <dd class="govuk-summary-list__value">
                            <%= !@submission.contact_name.blank? ? @submission.contact_name : t(".not_provided") %>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <%= link_to wizard_contact_path, class: "govuk-link", title: "Change #{t(".contact").downcase}" do %>
                                Change<span class="govuk-visually-hidden"> <%= t(".contact").downcase %></span>
                            <% end %>
                        </dd>
                    </div>
                </dl>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><%= t(".contact_email_address") %></dt>
                        <dd class="govuk-summary-list__value">
                            <%= !@submission.contact_email_address.blank? ? @submission.contact_email_address : t(".not_provided") %>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <%= link_to wizard_contact_path, class: "govuk-link", title: "Change #{t(".contact").downcase}" do %>
                                Change<span class="govuk-visually-hidden"> <%= t(".contact").downcase %></span>
                            <% end %>
                        </dd>
                    </div>
                </dl>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><%= t(".contact_telephone_number") %></dt>
                        <dd class="govuk-summary-list__value">
                            <%= !@submission.contact_telephone_number.blank? ? @submission.contact_telephone_number : t(".not_provided") %>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <%= link_to wizard_contact_path, class: "govuk-link", title: "Change #{t(".contact").downcase}" do %>
                                Change<span class="govuk-visually-hidden"> <%= t(".contact").downcase %></span>
                            <% end %>
                        </dd>
                    </div>
                </dl>

                <%= form_for @submission, url: wizard_review_path, method: :post do |f| %>
                    <%= f.govuk_submit t(".submit_button"), data: { disable_with: t(".submit_please_wait") } %>
                <% end %>

            </div>
        </div>
    </main>
</div>