<% title(t('.page_title')) %>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        <%= t(".page_title") %>
                    </h1>

                    <div class="govuk-panel__body">
                        <%= t(".your_reference_number") %>
                        <br>
                        <strong>
                            <%= @submission.reference_number %>
                        </strong>
                    </div>

                </div>

                <%= t(".summary_html") %>
                    
                <%= form_for @submission, url: wizard_print_path, method: :get, html: { target: "_blank" } do |f| %>
                    <%= f.govuk_submit t('.save_a_copy') %>
                <% end %>

                <%= t(".service_html",service_review_url: @service_review_url) %>

            </div>
        </div>
    </main>
</div>