<a href="/reports" class="govuk-back-link"><%= t(".back") %></a>

<h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>

<%= t(".guidance_html") %>

<%
statuses = ["businesses","what_happened","evidence","include_contact","contact","review","summary"]
%>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <% statuses.each do |s| %>
                <th colspan="2" scope="col" class="govuk-table__header"><%= t("." + s) %></th>
            <% end %>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><%= t(".month") %></th>
            <% statuses.each do |s| %>
                <th scope="col" class="govuk-table__header"><%= t(".total") %></th>
                <th scope="col" class="govuk-table__header"><%= t(".percent") %></th>
            <% end %>
            <th scope="col" class="govuk-table__header"><%= t(".total") %></th>
        </tr>
    </thead>
    <tbody>
<%
# first get the last 12 months
working_month = Time.now
12.times do

    # calculate start and end of working month
    start_date = working_month.at_beginning_of_month
    end_date = working_month.at_end_of_month

    # get the status totals from the database
    status_totals = Submission.where("created_at > '" + start_date.strftime("%Y-%m-%d") + "' AND created_at < '" + end_date.strftime("%Y-%m-%d") + "'").group(:status).count
        
    # calculate the month total and zero nils
    month_total = 0
    statuses.each do |s|
        if status_totals[s].present?
            month_total += status_totals[s] 
        else
            status_totals[s] = 0
        end
    end

    # initialise a percentages hash
    status_percentages = {}

    # calculate percentages
    statuses.each do |s|
        if status_totals[s] > 0
            status_percentages[s] = (status_totals[s].to_f / month_total.to_f) * 100
        else
            status_percentages[s] = 0.to_f
        end
    end

    %>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><%= start_date.strftime("%B %Y") %></th>
            <%
            statuses.each do |s|
                %>
                <td class="govuk-table__cell"><%= status_totals[s] %></td>
                <td class="govuk-table__cell"><%= status_percentages[s].round(1).to_s %>%</td>
                <%
            end
            %>
            <th scope="row" class="govuk-table__header"><%= month_total %></th>
        </tr>

    <%
    working_month = working_month.prev_month(1)
end

%>
</tbody>
</table>